<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uidemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".chat.SearchContactActivity" />
        <activity android:name=".chat.AddContactActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".familyactivity.activities.FamilyActivity" />
        <activity android:name=".record.RecordActivity" />
        <activity android:name=".course.CourseActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".dynamic.PublishTrendsActivity" />
        <activity android:name=".dynamic.PersonSingleDynamicActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".me.CodeActivity" />
        <activity android:name=".me.AddKidActivity" />
        <activity android:name=".me.PersonInfoActivity" />
        <activity android:name=".me.UpdateNameActivity" />
        <activity android:name=".me.UpdateInfoActivity" />
        <activity android:name=".me.SecurityActivity" />
        <activity android:name=".me.UpdatePwdActivity" />
        <activity android:name=".me.UpdateEmailActivity" />
        <activity android:name=".me.LogoutActivity" />
        <activity android:name=".me.UpdatePhoneActivity" />
        <activity android:name=".mark.MarkInformation" />
        <activity android:name=".mark.backgroun.BackgroundChoice" />
        <activity android:name=".mark.MarkSuccess.UserMark" />
        <activity android:name=".mark.calendar.PictureInfo" />
        <activity android:name=".record.NoRecordActivity" />
        <activity android:name=".record.GrowthRecordActivity" />
        <activity android:name=".familyactivity.activities.DetailsActivity" />
        <activity android:name=".test.FiftymeterRunBackAcitivity" />
        <activity android:name=".test.SitUpInfoActivity" />
        <activity android:name=".test.SitUpTimingActivity" />
        <activity android:name=".test.SkipInfoActivity" />
        <activity android:name=".test.SkipTimingActivity" />
        <activity android:name=".test.SitReachActivity" />
        <activity android:name=".test.FiftymeterRunActivity" />
        <activity android:name=".test.BasicInfoActivity" />
        <activity android:name=".test.ResultActivity" />
        <activity android:name=".mark.backgroun.Test" />
        <activity android:name=".mark.MarkSuccess.BUserMark" /> <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1111276030" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1160201102153259#uidemo" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver> <!-- ZXing -->
        <activity android:name=".zxing.android.CaptureActivity" />
        <activity android:name=".zxing.android.PreferencesActivity" />
    </application>

</manifest>